*{
    margin:0px;
}
.red{ 
    background-color: red;
    color: whitesmoke;
}
.green{
    background-color: blue;
    color: azure;
} */
body{
    background-image: url(https://static.langimg.com/thumb/msid-84668285,width-680,resizemode-3/-.jpg);
    background-repeat: space;
}